$primary-color: #4caf50;
$secondary-color: #ccc;
$background-color: #0F030F;
$input-border-color: #ddd;
$text-color: #555;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  // overflow-y: auto;
  // width: 100vw;
  background-color: $background-color;

  .title {
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .formBox {
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    &.isInvestors{
      border: 1px #fff solid;
    }
   
    //border: 1px solid #000;
    label {
      color: white !important;
    }

    span {
      color: white !important;
    }
   
}

  .rightBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px 30px;
    cursor: pointer;
    text-underline: none;
    text-decoration: none;
  }

  .progress {
    height: 100% !important;
  }

  .processBtn {
    margin-left: 20px;

    &:hover {
      border-color: #97D44A !important
    }
  }
}

